* {
	font-family: 'Montserrat', sans-serif;
	margin: 0;
}

body {
	background-color: #E7F0F8;
}

/*-----------------------------------------------------------------------------------------------------------------------------*/
/*                                                            HEADER                                                           */
/*-----------------------------------------------------------------------------------------------------------------------------*/
header {
	text-align: center;
	background-color: #1abc9c;
	overflow: hidden;
}

header h1 {
	margin: 20px;
}

header h1:hover {
	color: white;
}


/*-----------------------------------------------------------------------------------------------------------------------------*/
/*                                                            NAVBAR                                                           */
/*-----------------------------------------------------------------------------------------------------------------------------*/
nav {
  overflow: hidden;
  background-color: #333;
}

nav a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.icon {
  display: none;
}

#box {
	width: 19px;
	height: 19px;
	background-color: #4CAF50;
	position: absolute;
	z-index: 9999;
	border-radius: 10px;
	left: 98%;
	color: white;
}

#number {
	text-align: center;
	font-weight: bold;
}

i {
	margin-right: 5px;
	font-weight: bold;
}

.dropdown {
  float: right;
  overflow: hidden;
  display: inline-block;
}

.dropdown .dropbtn, .checkout {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  cursor: pointer;
}

nav a:hover, .dropdown:hover .dropbtn {
  background-color: #1abc9c;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.cart-content {
	right: 0;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.checkout {
	padding: 8px 12px;
	background-color: transparent;
	color: black;
    border-radius: 35px;
    cursor: pointer;
    border: 1px solid #1abc9c;
    margin-bottom: 10px;
}

.checkout:hover {
	color: white;
	background-color: #1abc9c;
	transition-duration: 0.6s;
    box-shadow: 2px 2px 3px black;
}

.dropdown-content a:hover {
  background-color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.cart, .calculator {
	width: 100%;
	border-collapse: collapse;
}

.quantity, .price {
	text-align: center;
}

th {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: left;
  background-color: #1abc9c;
  color: white;
}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
}

.total-price, .gst {
	background-color: #E0FFFF;
}

.calculator tr {
	font-weight: bold;
}

#total-price, #final-price {
	text-align: center;
}

.view-all {
	text-align: right !important;
	font-weight: bold;
}

/*------------------MENU DROPDOWN------------------*/
.menu {
	float: left;
}

.menu-content {
	left: 0;
}

.menu-content a {
	font-size: 80%;
}

.menu-content a:hover {
  background-color: #4CAF50;
  color: white;
}

/*-----------------------------------------------------------------------------------------------------------------------------*/
/*                                                              LIST                                                           */
/*-----------------------------------------------------------------------------------------------------------------------------*/

.showcase {
	list-style: none;
	margin-left: 0;
}

.showcase li {
    background-color: #f4f4f4;
    display: block;
    float: left;
    width: 15%;
    margin: 5px;
    border-radius: 8px;
    border: 1px solid black;
}

.item-photo {
    width: 100%;
    overflow: hidden;
    margin-bottom: 15px;
}

.item-photo img {
    height: 150px;
    width: 95%;
    border-radius: 5px;
}

.add-btn {
    background-color: transparent;
    border-radius: 35px;
    margin: 4%;
    cursor: pointer;
    padding: 5px 10px;
    font-size: 80%;
    margin-top: 0;
    border: 1px solid #4CAF50;
}

.add-btn:hover {
    background-color: #4CAF50;
    color: #fff;
    transition-duration: 0.4s;
    box-shadow: 2px 2px 3px black;
}

.showcase li:hover {
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.2);
    border-radius: 8px;
    box-shadow: 2px 3px 5px black;
    transition-duration: 0.4s;
}